/* Seletor global - * indica todos os elementos do html */
*{
font-family: 'Segoe UI', sans-serif ;
margin: 0;/*espaço externo*/
padding: 0;/*espaço interno*/
}

#Cabeçalho{
  background-color: #4e4cee;
  display: flex; /*ativo o flexbox para poder alinhar os meus elementos filhos*/
  justify-content: space-between;
  align-items: center ;


}

#Cabeçalho > img{

   width: 200px;/*largura*/
   height: 200px;/*altura*/
}

#Cabeçalho > nav{
  display: flex;
  gap: 10px;


}
#Cabeçalho > nav > a{
 color: black;
 text-decoration: none;
 font-size: 16px;

}
main section > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;


}